@model IEnumerable<Metro.Models.Weapon>
@{
    ViewBag.Title = "Army";
}

<title>Армія червоної лінії</title>

<section class="section" id="about">
    <div class="container">
        <div class="section_header">
            <h2 class="section_title">Армія червоної лінії</h2>
            <h3 class="section_suptitle">Опис</h3>

            <div class="section_text">
                <p>
                    Армія Червоної Лінії є однією з найчисельніших і дисциплінованих в Метро. До того ж, будучи такою, добре спеціалізується на лобовій атаці і, на відміну від своїх ідеологічних супротивників з Рейху, - найбільш організована. На озброєнні комуністів є танки, дрезини і бронепоїзд. Після отримання в свої руки Кузнецького Моста Червона армія здобула ще більший технічний і збройовий потенціал.

                    Існує також елітний загін спецназівців імені Фелікса Едмундовича Дзержинського - «Червоні слідопити», штаб яких розташований на станції Дзержинська. Розвідники, сталкери і диверсанти Червоної Лінії вельми ефективно діють в тилу ворога.
                    <div class="section_line">Танк</div>
                <p>
                    Танк складається з: дрезини, покритої товстими бронелистами, парового двигуна (подібного двигуну паровоза), кабіни мехвода, що обертається вежі і ракетомёта. Вежа зі зброєю при перезарядці закриває стрілка і заряджає Бронепластини, також спереду над мехводом є невелика кулеметна башточка. Ззаду знаходиться відділення для піхоти з кулеметом ДШК.
                    Знаряддя також має лазерний приціл.

                    Танк Червоної Лінії з'являється в битві за Д-6 на протилежній платформі в супроводі піхоти. Артем знищує танк, стріляючи з Преведа по тендітним колесам і погано захищеному боєкомплекту.

                    Ще один танк з'являється в офіційному додатку «Комплект угруповань» на лінії фронту. Важкий піхотинець Рейху Ганс знищує його пострілами з Медведа.
                </p>
                <div class="section_line">Бронепоїзд</div>
                <p>
                    Був створений в одному з будівельних цехів Червоної Лінії. Поїзд-тягач, обвешаний кругової бронею. Двигун встановлений спереду. Нагорі встановлена ​​вежа з важким знаряддям. Спереду встановлений потужний відбійник і намальована червона зірка. З боків поїзда встановлені стежки і бійниці (дві з кожного боку) для стрільців. Досить швидкий, так як зміг знести гермоворота і вагон з вибухівкою
                    (Який червоні використовували для пробиття кордону Ордена), також він досить міцний, так як у фінальній сцені видно, що поїзд не був пошкоджений після тарана. Задньою частиною поїзда є тяжелобронированним вагон, який служить для доставки піхоти на полі бою. Був знищений під час вибуху Д-6 (погана кінцівка) або утримується рейнджерами Спарти (хороша кінцівка).
                </p>
                <div class="section_line">Армія</div>


            </div>
        </div>
        <div class="about">
            <div class="about_item">
                <div class="about_image">
                    <a href="@Url.Content("~/Content/images/soldiers_army.jpg")" target="_blank">
                        <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/soldiers_army.jpg")">
                    </a>
                </div>
                <div class="about_text">Солдати</div>
            </div>


        </div>
        <div class="section_line">Танк</div>

        <div class="about">
            <div class="about_item">
                <div class="about_image">
                    <a href="@Url.Content("~/Content/images/tank_kl.png")" target="_blank">
                        <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/tank_kl.png")">
                    </a>
                </div>
                <div class="about_text">Танк</div>
            </div>


        </div>
        <div class="section_line">Бронепоїзд</div>

        <div class="about">
            <div class="about_item">
                <div class="about_image">
                    <a href="@Url.Content("~/Content/images/heavytrain.jpg")" target="_blank">
                        <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/heavytrain.jpg")">
                    </a>
                </div>
                <div class="about_text">Бронепоїзд</div>
            </div>


        </div>
    </div>
</section>


<div class="form-admin">

    <div class="container body-content">

        <div class="container">
            <div class="section_header">
                <h2 class="section_title">Список зброї</h2>
            </div>
        </div>

        <table id="humans" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Назва</th>
                    <th>Калібр</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var weapon in Model)
                {
                    <tr>
                        <td>@weapon.Id</td>
                        <td>@weapon.Name</td>
                        <td>@weapon.Caliber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

