
@{
    ViewBag.Title = "Economics";
}


<title>Економіка червоної лінії</title>


<section class="section" id="about">
    <div class="container">
        <div class="section_header">
            <h2 class="section_title">Економіка червоної лінії</h2>
            <h3 class="section_suptitle">Опис</h3>

            <div class="section_text">
                <p>
                    Червона Лінія, як і її попередник, намагається приділяти менше уваги торгівлі з зовнішніми державами, вважаючи за краще торгувати внутрішньо: виготовляти і перепродувати зброю, техніку, вирощувати гриби і розводити свиней. Однак обставини змушують комуністів час від часу здійснювати товарообмін з колишніми ворогами - Співдружністю станцій Кільцевій лінії і Полісом. Маючи під боком такі станції як Театральна та Кузнецький Міст, червоні, нерідко користуючись нагодою, ходять на щоденні вистави, або, як у другому випадку - майже за безцінь отримуючи одне з найсучасніших видів зброї в Метро.Єдине угруповання, з яким комуністи відмовляються вести торгівлю, - Четвертий Рейх - зрозуміло по повним протилежностям в ідеології. Згідно з мирними угодами з часів закінчення першої громадянської війни в Метро, прохід через станції Червоної Лінії залишається вільним для сталкерів і човників.
                    <div class="section_line">Нова валюта</div>
                <p>
                    У Пост'ядерному світі Метро, після ядерної війни, традиційні грошові одиниці втратили свою ліквідність. Цьому посприяли мала кількість і неможливість виготовлення нових грошових одиниць. Замість грошей групи людей використовують для торгівлі між собою різні корисні продукти з найвищої, на їхню думку і досвіду, ліквідністю.У тих місцях нового світу, де людям доводиться регулярно оборонятися як від мутантів, так і від інших людей, високу корисність і цінність мають боєприпаси. У військових центрах і на складах деяких держав після Катастрофи залишилася велика кількість невикористаних боєприпасів. Висока корисність і цінність патронів, а також великі їх запаси, породжують високу ліквідність патронів як товару. Це в деяких групах людей спровокувало становлення боєприпасів як головної валюти.
                </p>
                <div class="section_line">Ринок</div>
                <p>

                    Московський метрополітен
                    В Московському метрополітені в якості валюти використовуються найбільш розповсюджені бойові автоматні патрони.

                    Рынок на Площі Революції:
                    100 г грибного чаю — 5 патронів;
                    бутилка самогону — 20 патронів.
                    батон ковбаси — 15 патронів;
                    шкіряна куртка — 250-300 патронів.
                    свинна печеня з грибами — 15 патронів;
                    кружка браги — 3 патрона;
                    крисині тушки,насаджені на вертель — 3 патрона.
                    На станції Сталінська за 2 патрона можна купити мох, нарізаний квадратиками.
                    На станції Проспект Маркса продається грибна юшка за 4 патрона.
                    Проїзд від станції до станції по Червоній лінії коштує 1 патрон.
                    Антирадіаційний костюм коштує 200 патронів.
                    В Московскому метрополітені також використовуються "умовні патрони" або УПи - "віртуальна" валюта, курс якої прив'язаний до "фізичних" патронів. Створені і введені в обіг найбагатшими людьми Червоної лінії. На момент 2033 року курс становить: 1 патрон = 4 УПа. Відома і ціна одного товару: мито на участь в Ганзійських Іграх — 400 УПів.
                </p>
                <div class="section_line">Ринок</div>


            </div>
        </div>
        <div class="about">
            <div class="about_item">
                <div class="about_image">
                    <a href="@Url.Content("~/Content/images/Market2.jpg")" target="_blank">
                        <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/Market2.jpg")">
                    </a>
                </div>
                <div class="about_text">Вхід на ринок</div>
            </div>




            <div class="about_item">
                <div class="about_image">
                    <a href="@Url.Content("~/Content/images/Market.jpg")" target="_blank">
                        <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/Market.jpg")">
                    </a>
                </div>
                <div class="about_text">Ринок</div>
            </div>




            <div class="about_item">
                <div class="about_image">
                    <a href="@Url.Content("~/Content/images/Bar.jpg")" target="_blank">
                        <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/Bar.jpg")">
                    </a>
                </div>
                <div class="about_text">Місцевий бар</div>
            </div>


        </div>
        <div class="section_line">Товари</div>

        <div class="about">
            <div class="about_item">
                <div class="about_image">
                    <a href="@Url.Content("~/Content/images/Cash.jpg")" target="_blank">
                        <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/Cash.jpg")">
                    </a>
                </div>
                <div class="about_text">Валютні патрони</div>
            </div>




            <div class="about_item">
                <div class="about_image">
                    <a href="@Url.Content("~/Content/images/Tea.jpg")" target="_blank">
                        <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/Tea.jpg")">
                    </a>
                </div>
                <div class="about_text">Грибний чай</div>
            </div>




            <div class="about_item">
                <div class="about_image">
                    <a href="@Url.Content("~/Content/images/tank_kl.jpg")" target="_blank">
                        <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/hazard_suit.jpg")">
                    </a>
                </div>
                <div class="about_text">Захисний костюм</div>
            </div>


        </div>

    </div>
</section>

