
@{
    ViewBag.Title = "Government";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    @Styles.Render("~/Content/css")
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Влада червоної лінії</title>
</head>
<body>



    <section class="section" id="about">
        <div class="container">
            <div class="section_header">
                <h2 class="section_title">Влада Червоної лінії</h2>
                <h3 class="section_suptitle">Історія</h3>

                <div class="section_text">
                    <p>
                        Відомо, що у кожної станції Червоної Лінії є свій начальник, проте велика влада належить Комуністичній Партії Московського метрополітену на чолі з генеральним секретарем Максимом Петровичем Москвіним, який заради жадоби влади отруїв свого двоюрідного брата Андрія. Це сталося по помилковому донесенню голови держбезпеки Чеслава Андрійовича Корбута. Таким чином Корбут зробив Москвіна правителем, яким можна було з легкістю зневажати, завдяки компромату, у вигляді володіння інформацією про смерть Андрія Москвіна. Таким чином Корбут став фактичним правителем Червоної Лінії, правлячим через Москвіна. Чималу владу також має керівний орган Політбюро, що складається з десяти функціонерів-консерваторів «старого гарту». Саме вони мають право змінити і заново вибрати генсека, оголосити війну, проводити переговори і запросити перемир'я.
                    </p>
                    <div class="section_line">Андрій Москвін</div>
                    <p>
                        Андрій Москвін - один з творців Червоної Лінії і її перший керівник. Як і його двоюрідний брат Максим, Андрій народився задовго до Третьої Світової війни. Вони обидва зуміли врятуватися зі своїми сім'ями в Московському метрополітені, коли впали бомби. До Війни Андрій був депутатом московської думи від партії КПРФ і, ймовірно, займав високопоставлену посаду в радянській, а після - російській армії як до, так і після Апокаліпсису, так як вважався одним з членів керівництва Об'єднаного штабу Метро до його розформування.Після розпаду загального командування, Андрій починає «наводити порядок» на Сокольницької гілці. Народ починає тягнутися до нього, так як Москвін позбавляється від настирливих «ментів». Полковник Мельников, що засідає в Комітеті вирішує, що потрібно тренувати молодих сталкерів за прикладом Андрія.
                        Одного разу, під час виборів на одній з ділянок, молодший брат Андрія Максим висунувся проти свого брата, і хоча перший виграв голосування, були виявлені серйозно компрометуючі його матеріали, які виключили його подальшу політичну кар'єру. Андрія відправили в трудовий табір, де його сліди зникли. Лідером Червоної Лінії став Максим Москвін.
                    </p>
                    <div class="section_line">Максим Москвін</div>
                    <p>
                        Максим Петрович Москвін (майже завжди згадується як товариш Москвін; партійне прізвисько - Геннадій Андрійович) -
                        Керівник Червоної Лінії, голова Політбюро і генеральний секретар ЦК КПМ, брат покійного революціонера і першого генсека Андрія Москвіна, отруєного Максимом за хибним донесенням генерала Чеслава Корбута. Максим Москвін недалекоглядна слабохарактерна людина, що приписує собі висловлювання і досягнення інших політиків. Намагається контролювати все і ненавидить будь-яку непокору через власну параною. Він почав свою політичну кар'єру тільки завдяки своєму старшому братові, який був принциповим комуністом. Москвін постійно намагався перевершити свого брата, хоча і не вірив ні на йоту в те, що той робив. Москвін завжди заздрив своєму розумному і талановитому братові, який був улюбленцем їх батьків.Одного разу, під час виборів на одній з ділянок, Москвін висунувся проти свого брата, і хоча останній виграв голосування, були виявлені серйозно компрометують його матеріали, які виключили його подальшу політичну кар'єру. Але Москвін переміг, і хоча він отримав владу, продовжував думати, що до нього не ставляться серйозно, його не поважають і не люблять, і що наближені до нього люди вважають його зрадником ...
                    </p>
                    <div class="section_line">Чеслав Корбут</div>
                    <p>
                        Чеслав Андрійович Корбут - до березня 2034 року включно - голова КДБ і глава розвідки Червоної Лінії в званні генерала. Близько сорока п'яти років. Праве око відсутнє і замінене на штучне. На лівій стороні обличчя є кілька глибоких подряпин.Корбут народився до війни, в 1990 році. Уже в повоєнний період Корбут, що жив на Сокольницької лінії, приєднався до лав формувалася там Червоної Лінії.
                        Завдяки своїй хитрості, ощадливості і тактовності, за короткий термін Чеслав обіймає посаду начальника розвідки, таким чином роблячи себе другою за значимістю фігурою в соціалістичному метрогосударстві і радником її першого генерального секретаря Андрія Миколайовича Москвіна.
                    </p>
                </div>
            </div>
            <div class="about">
                <div class="about_item">
                    <div class="about_image">
                        <a href="@Url.Content("~/Content/images/Government/AndrewMoskvin.jpg")" target="_blank">
                            <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/Government/AndrewMoskvin.jpg")">
                        </a>
                    </div>
                    <div class="about_text">Андрій Москвін</div>
                </div>  
                <div class="about_item">
                    <div class="about_image">
                        <a href="@Url.Content("~/Content/images/Government/MaximMoskvin.jpg")" target="_blank">
                            <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/Government/MaximMoskvin.jpg")">
                        </a>
                    </div>
                    <div class="about_text">Максим Москвін</div>
                </div>

                <div class="about_item">
                    <div class="about_image">
                        <a href="@Url.Content("~/Content/images/Government/Cheslav.jpg")" target="_blank">
                            <img style="border: 0px solid ; width: 280px; height: 280px;" alt="" src="@Url.Content("~/Content/images/Government/Cheslav.jpg")">
                        </a>
                    </div>
                    <div class="about_text">Чеслав Корбут</div>
                </div>
            </div>
        </div>



    </section>



</body>

